body{
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 600px;
	margin: auto;
	padding: 10px;
	background: hsla(5, 50%, 50%, 0.2);
}
.line {
	border-bottom: 1px solid grey;
}
h1{
	text-align: center;
}
.fig{
	
	text-align: center;
}